.wrapper {
  // width: 100%;
  margin: 6vw;
  box-sizing: border-box;
  border: 1px solid #333;
  p {
    margin: 0 auto;
  }
}

.title {
  height: 1em;
  background: #333;
  padding: 2vw;
  span {
    width: 10vw;
    display: inline-block;
    height: 100%;
    border-radius: 1vw;
    transform: skewX(-20deg);
  }
}